.about {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #c96567;
}

.about__container {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about__carousel {
  padding: 20px;
  overflow: hidden;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: aliceblue;
}
.about__text> p{
  font-size: 1.2rem;
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 822px){
  .about__container{
    flex-direction: column;
  }
  
}