.buy {
  min-height: 100vh;

  background-color: #c96567;
  width: 100%;
}

.buy__container {
  display: flex;
 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 100px;
}

.buy__container > a {
  flex: 32%;
  max-width: 800px;
}
