.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 1000;
  position: absolute;
  width: 100%;
}

.header__container {
  width: 45%;
  height: 100%;
  padding: 5px;
  background-color: #25274d;
  color: #b5c1cc;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__contents {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: inherit;
  color: inherit;
}
