.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.header__container {
  width: 50%;
  height: 100%;
  font-size: small;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__contents {
  font-size: 0.45rem;
  font-weight: 400;
}

a {
  text-decoration: inherit;
  color: inherit;
}
