.sell {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c96567;
}

.sell__form {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 550px;
  padding: 10px;
  background-color: #644e5b;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 4px 4px 10px rgba(14, 13, 13, 0.603);
}

.sell__PropertyDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sell__PropertyDetails > h1 {
  margin-bottom: 0;
  color: aliceblue;
  font-weight: 400;
}

.sell__PropertyDetails > input {
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
}

.restrict_width {
  max-width: 200px;
}

.sell__imageUpload {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #7e5a5b;
  padding: 10px 15px 15px 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(14, 13, 13, 0.603);
}

.sell__imageUpload > h3,
progress {
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #ffffff;
}


.sell__imageUpload > progress {
  margin-bottom: 10px;
}

.sell__inputsOneRow {
  display: flex;
}

.sell__inputsOneRow > input {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-right: 5px;
}

.restrict_width {
  max-width: 140px;
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #dbbaba;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}