.propertyDetails {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c96567;
}

.propertyDetails__container {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8e5a63;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: 200;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(14, 13, 13, 0.603);
}

.propertyDetails__container > img {
  margin-top: 40px;
  width: 80%;
  max-width: 1200px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(14, 13, 13, 0.603);
}

.propertyDetails__propertySection {
  width: 100%;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.propertySpecifics {
  background-color: rgba(10, 9, 9, 0.274);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

.propertySpecifics > h3 {
  font-weight: 200;
}

.propertyDetails__ownerSection {
  background-color: #644e5b;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px rgba(14, 13, 13, 0.603);
}
